.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/*-plugins.json
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/appearance.json

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store

_untracked_dir/